@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;1,400;1,600&display=swap");

:root {
  --white: #fff;
  --black: #000000;
  --main-bg: #f0f4f7;
  --primary: #ffe34e;
  --text-color: #141617;
  --success: #60c17a;
  --danger: #ff5c69;
  --input-borders: #d9d9d9;
  --neutral: #5ca4ff;
}

body {
  margin: 0;
  font-family: "Cabin", sans-serif;
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f373e;
}

main {
  display: flex;
  height: 80vh;
  width: 80vw;
  border-radius: 16px;
  overflow: hidden;
  max-width: 1088px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
}

aside,
section {
  padding: 24px;
  overflow: auto;
}

aside {
  padding-top: 0;
  min-width: 288px;
  background: var(--main-bg);
}

section {
  background-color: var(--white);
  flex: 1;
}

label {
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
  display: block;
  border: 1px solid var(--input-borders);
  border-radius: 8px;
  max-width: 320px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 24px;
  font-size: 16px;
  padding: 12px 8px;
  font-family: "Cabin", sans-serif;
}

button {
  border: none;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

button svg {
  margin-right: 4px;
  fill: currentColor;
}

button.primary {
  background-color: var(--primary);
  color: rgb(0, 0, 0, 0.9);
  padding: 12px 32px;
  border-radius: 44px;
}

button.primary:disabled {
  opacity: 0.6;
}

button.link-button {
  color: var(--neutral);
  padding: 12px 16px;
  background: none;
}

button.link-button.danger {
  color: var(--danger);
}

.list-title {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: var(--main-bg);
  padding: 32px 0;
  z-index: 1;
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0 0 1em;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list-item {
  background: var(--white);
  margin-bottom: 24px;
  padding: 24px 16px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.04);
}

.todo-list-item--completed {
  opacity: 0.7;
}

.todo-list-item__checkbox {
  display: inline-flex;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--input-borders);
  margin-right: 16px;
}

.todo-list-item__checkbox--completed {
  background: var(--success);
  border: none;
}
.todo-list-item__info {
  flex: 1;
}

.todo-list-item__info h3 {
  margin: 0 0 4px;
}
.todo-list-item__info p {
  margin: 0;
  opacity: 0.6;
}

.todo-list-item--selected {
  border: 2px solid #4e97ff;
}

.todo-list-item__checkbox svg {
  fill: #fff;
}

.todo-details__date {
  opacity: 0.5;
  font-size: 0.8em;
}
